# Do to copyright issuses, I don’t include PDFs, or Netlogo files.
Articles/**.pdf
Articles/**.alias
Articles/**.nlogo

# Output files
Models/ABM/data/**
Models/ABM/fig/**
Figures/data/**

# Rstudio system files
**/.RData
**/.Rhistory

# Miscellaneous 
Notes/Kindle.Highlights_Complexity.and.the.Economy.pdf
Statement/Images/Structures.psd
Statement/Images/Structures-Entry.psd
**/_temp/**
Articles/round10/Laver_Schilperoord_2007 supplementary/**

Statement/References/Ref.bbl
# Do not include latex support files
Statement/References/*.aux
Statement/References/*.bbl
Statement/References/*.blg
Statement/References/*.log
Statement/References/*.out
Statement/References/*.spl
Statement/References/*.gz
Statement/References/*.toc